<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="LMUConnectionString" connectionString="Data Source=10.162.176.24;uid=dhpo_user;pwd=Pas4Dhpo;Connect Timeout=30000;Initial Catalog=DHPO;Integrated Security=false"
   providerName="System.Data.SqlClient" />-->


    <add name="LMUConnectionString" connectionString="Data Source=10.11.13.41;uid=fansari;pwd=Dell@123;Connect Timeout=30000;Initial Catalog=DHPO2;Integrated Security=false" providerName="System.Data.SqlClient" />

    <!--<add name="LMUConnectionString" connectionString="Data Source=10.162.176.43;uid=DHPOuser;pwd=get2the.;Connect Timeout=30000;Initial Catalog=ISOTPO;Integrated Security=false"
   providerName="System.Data.SqlClient" />-->
    <!--<add name="LMUConnectionString" connectionString="Data Source=(local);Initial Catalog=DHPO;Max Pool Size=1000;Integrated Security=true;Connect Timeout=60;" />-->
  </connectionStrings>
  <appSettings>


    <add key="SharedNetworkPath" value="\\\\10.156.62.19\uploads" />
    <add key="NetworkUser" value="sharedlun@dh.local" />
    <add key="NetworkPassword" value="sharedlun!@#)" />
    <add key="IsNetworkUpload" value="1" />
    <add key="SaveLoginTime" value="0" />


  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="30000000" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpRuntime executionTimeout="3000" maxRequestLength="6144"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="DataSyncServiceServiceSoapBinding" receiveTimeout="00:01:00" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:01:00" >
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="6553600" maxArrayLength="1638400"
              maxBytesPerRead="409600" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="5242880"
            maxReceivedMessageSize="655360000" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="false" maxBufferSize="655360000" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true"  />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://lmu.dimensions-healthcare.com/LMU/services/v1/dataSyncService"
        binding="customBinding" bindingConfiguration="DataSyncServiceServiceSoapBinding"
        contract="LMUService.DataSyncService" name="DataSyncServicePort" />
    </client>
  </system.serviceModel>

</configuration>
